


<div class="contract-page">
    <div data-modal data-modal-close-button="true">
        <h2>Contract</h2>
        <p>Dellarobbia® has a rich history of combining timeless designs with impeccable craftsmanship, 
            resulting in beautiful products. We’ve continued this tradition with our highly coveted complete interior
            development program. The seamless transition between design and manufacturing means our 
            products are carefully planned out and perfectly created. Our designers and engineers work 
            directly with you to ensure that you ideas are built to specification. 
            <br />
            <br />
            If you are interested if having Dellarobbia develop for you email us.
            <br />
            contract@dellarobbiathailand.com</p>
            <!--
        <div class="buttonContainer">
            <a href="#/contract/portfolio" class="button">Next</a>
        </div>
        -->
    </div>
</div>