

<div class="contact_page">
    
    
    <div name="form" data-modal data-modal-close-button="true">
        <form novalidate>
            <table>
                <tr>
                    <td><input type="text" required placeholder="Name" ng-model="name"/></td>
                </tr>
                <tr>
                    <td><input type="text" required placeholder="Email" ng-model="email"/></td>
                </tr>
                <tr>
                    <td><textarea required placeholder="Message" ng-model="message"></textarea></td>
                </tr>
                <tr>
                    <td><button ng-click="sendMessage()">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    
    
</div>
