

<div class="design-page">
    <div data-modal>
        <h2>Design</h2>
        <p>The term DesignHouse was born from the vision of a design team that not only works together, 
            but rather resembles a family, working, eating, relaxing and creating as a single unit. 
            The designers and engineers are seamlessly integrated, eliminating the difficulties 
            that often occurs when designs evolve into reality.
            <br />
            <br />
            If you have ideas about how you'd like to evolve your space email us at
            <br />
            design@decoroom.com
        </p>
        
    </div>
</div>