

<div class="showroom-page">
    <div data-modal data-modal-close-button="true">
        <h2><img src="images/deco_logo.png"/></h2>
        <p>The showroom and design branch of Dellarobbia Thailand, 
            Decoroom is the public face of the company. 
            It is an evolution of our vision to provide the best furnishings and service. 
            Located in an elegantly modern,  glass and metal structure, 
            the showroom allows guest to enjoy browsing our collection, while 
            making our designers available should they need any help.</p>
        <div class="buttonContainer">
            <a href="#/design" class="button">Next</a>
        </div>
        
    </div>
</div>